*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
           background-color: white;
         text-align: center;
         box-shadow: 0 0 10px 0 rgba(0, 0, 0,0.5);
         border-radius: 10px;
         width: 300px;
}
.header{
    padding: 10px;
    background-color: rgb(17, 0, 255);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.timer{
      font-size: 1.5rem;
      margin-bottom: 10px;
}
button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    color: white;
}

#start {
    background-color: blue;
}

#stop {
    background-color: red;
}

#reset {
    background-color: green;
}